@model List<Service>

@{
    ViewData["Title"] = "Our Services";
}

<div class="container services mt-5 pb-5">
    <h1 class="text-center display-4">Our Services</h1>
    <p class="text-center mb-5">At Al Anwar Creativity Studio, we craft custom software solutions for all industries—tailored to your unique needs and designed to drive success.</p>

    <div class="row mb-5">
        @foreach (var service in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header text-white bg-custom-blue">
                        <h4>@service.Title</h4>
                    </div>
                    <div class="card-body">
                        <p>@service.Description</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="service-link">Learn More</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
