/* _content/aacs/Views/Shared/_Layout.cshtml.rz.scp.css */

/* Footer */
.footer[b-6a0qazp5b2] {
  position: absolute;
  bottom: 0;
  padding: 0px 10px 0px 10px;
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  line-height: 60px;
  background-color: #fff;
}

.footer .container[b-6a0qazp5b2]{
  width: fit-content;
  margin: 0;
  padding: 0;
  color: #000000;
}
.footer .social-media[b-6a0qazp5b2]{
  margin: 0px 10px 0px 10px;
}

.footer .social-media a[b-6a0qazp5b2]{
  margin: 5px;
  color: #275ca0;
}

.footer .social-media a:hover[b-6a0qazp5b2]{
  color: #ff8000;
}

@media (min-width: 500px) {
  html[b-6a0qazp5b2] {
    font-size: 16px;
  }
}
