html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/* Font Size Custom */
.lb-sm {
    font-size: 12px;
}

.lb-md {
    font-size: 14px;
}

.lb-lg {
    font-size: 18px;
}

/* Button & Form Controll Focus*/
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #ff8000;
}

/* Form Control (Inputs) */
.form-control:focus {
    border-color: #ff8000;
}

.form-control:hover {
    border-color: #ff8000;
}

.form-control:active {
    border-color: #ff8000;
}

/* Button Custom */
.btn-custom {
    background-color: #ff8000;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.btn-custom:hover {
    opacity: 0.9;
}

.stretched-link {
    color: #2575fc;
    text-decoration: none;
}

.stretched-link:hover {
    text-decoration: underline;
}

.btn:hover {
    color: #fff;
    background-color: #ff8000;
}

/* Background Color */
.bg-custom-blue {
    background-color: #275ca0;
}

/* Pagination */
.page-item{
    margin: 4px;
    border: none;
}
.page-item:first-child .page-link,
.page-item:last-child .page-link{
    border-radius: 5px;
}
.page-item .page-link{
    color: #275ca0;
    border: none;
    border-radius: 5px;
}

.page-item.active .page-link{
    background-color: #275ca0;
}

/* Header */
header {
    z-index: 1000;
}

.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.navbar-nav .nav-item a.nav-link {
    color: #275ca0 !important;
}

.navbar-nav .nav-item a.nav-link:hover {
    color: #ff8000 !important;
}

.navbar-nav .nav-item a.nav-link.active {
    color: #ff8000 !important;
}

.quill-editor{
    font-size: 16px;
}

/* Footer */
footer {
    position: relative;
    z-index: 2;
}

footer::before {
    content: '';
    position: absolute;
    bottom: 62px;
    left: 0;
    width: 100%;
    height: 39px;
    margin-top: 10px;
    background-image: url('/images/back2.png');
    background-repeat: repeat;
    background-size: 40px;
    opacity: 5;
    z-index: 1;
    pointer-events: none;
}

.footer .container {
    max-width: fit-content;
    color: #000000;
    margin: 0;
}

.social-media a {
    margin: 0 10px;
    color: inherit;
    text-decoration: none;
}

.social-media a:hover {
    color: #ff8000;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

/* Logo Design */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 45px;
}

.logo-full {
    display: flex;
    align-items: center;
    max-width: 200px;
    margin-left: 10px;
}

.logo-brand {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /* Ensure there's no underline */
    color: #000000;
}

.main {
    font-family: 'Roboto', sans-serif;
    color: #275ca0;
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.secondary {
    font-family: 'Arial', sans-serif;
    color: #275ca0;
    /* Accent color for the subtitle */
    font-weight: 400;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.logo-line {
    width: 100%;
    border: 1px solid #ff8000;
    margin: 0;
    opacity: 0.7;
}

/* Modal */
.aacs-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .aacs-modal.show {
    display: flex;
  }

  .aacs-modal .modal-dialog{
    min-width: 300px;
  }

  .aacs-modal .modal-body{
    max-height: 90vh;
    overflow-y: scroll;
  }

  .aacs-modal .aacs-modal-fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

/* Custom user Dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1000;
    display: none; /* Hidden by default */
    width: fit-content;
    padding: 10px 0;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
}

.dropdown-item {
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
    color: #000;
}

.dropdown-divider {
    margin: 0.5rem 0;
    border-top: 1px solid #ddd;
}

/* Custom View */
.view-modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.view-bar{
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 500px;
    background-color: #fff;
}
/* Responsiveness for different screen sizes */
@media (max-width: 768px) {
    html {
        font-size: 16px;
    }

    .main {
        font-size: 1.5rem;
        /* Adjust for smaller screens */
    }

    .secondary {
        font-size: 0.7rem;
    }
}

@media (max-width: 570px) {
    footer::before {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .main {
        font-size: 1.2rem;
        /* Further adjust for very small screens */
    }

    .secondary {
        font-size: 0.6rem;
    }
}