/* Home Page */

.container-home {
  margin: 0;
  padding: 0;
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
  background-color: #275ca0;
}

.banner .container {
  margin: auto;
  color: #fff;
  z-index: 400;
}

.banner h1,
h4 {
  font-optical-sizing: auto;
  padding: 10px 20px;
}

.welcome {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  padding: 10px 20px;
  color: #ff8000;
}

.banner p {
  padding: 0px 20px;
  max-width: 900px;
}

.banner .banner-btn {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  outline: #ff8000;
  background-color: transparent;
  color: #ff8000;
  border: 1px solid #ff8000;
}

.banner .banner-btn:hover {
  background-color: #245595;
}

.banner .banner-btn:active {
  background-color: #ff8000;
  color: #275ca0;
}

.banner-logo-container {
  position: absolute;
  top: 100;
  right: 0;
  max-width: 410px;
  max-height: 600px;
  z-index: 100;
}

.banner .banner-logo {
  width: 100%;
  height: 100%;
}

#typing-effect-heading,
#typing-effect-paragraph {
  display: inline-block;
}

#typing-effect-heading::after,
#typing-effect-paragraph::after {
  content: '|';
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Home Page - features Section */
.features {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  z-index: 1;
}

.feature {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: start;
  margin: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}

.features .feature h2 {
  width: fit-content;
  padding: 10px;
}

.features .feature p {
  max-width: 300px;
  font-size: 14px;
  text-align: center;
}

/* Home Page - Tech Section */
.tech {
  position: relative;
  padding: 60px 10px;
  background-color: #275ca0;
  color: #fff;
}

.tech .container {
  position: relative;
  z-index: 10;
}

.tech-icon {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.tech-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  z-index: 100;
  color: #000;
}

.tech-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.tech .banner-logo-container {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 440px;
  max-height: 100%;
  z-index: 1;
}

.tech .banner-logo {
  width: 100%;
  height: 100%;
}

/* Service Page */

.services .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.services .card-body {
  flex-grow: 1;
}

.services .card-footer {
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

.services .card-footer .service-link {
  text-decoration: none;
  color: inherit;
}

.services .card-footer .service-link:hover {
  text-decoration: underline;
  color: black;
}

/*Blog Page */

.blog .card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog .stretched-link {
  text-decoration: none;
}

.blog .stretched-link:hover {
  text-decoration: underline;
  color: black;
}

.blog .scrollable-list {
  max-height: 500px;
  overflow-y: auto;
}

.blog .card-img-top {
  object-fit: cover;
  height: 100%;
}

.blog .card-body {
  padding: 15px;
}

/* Contact Page */
.contact.container {
  max-width: none;
  margin: 0;
  padding: 0;
}

.contact .header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #275ca0;
}

.contact .main.row {
  text-transform: none;
  color: #000;
  font-size: unset;
  letter-spacing: normal;
  padding: 0px 20px;
  margin-bottom: 6rem;
}

.contact .main .card {
  border-radius: 5px;
  border: none;
  overflow: hidden;
}

.contact .row {
  margin: 0;
}

/* Admin - Login Page */

.admin-login {
  max-height: 100vw;
  /* background: linear-gradient(to right, #1e3c72, #2a5298); */
}

.admin-login .logo {
  position: absolute;
  top: 0;
  padding: 10px 30px;
  margin: 0;
  width: 100%;
}

.admin-login .card {
  width: 400px;
  border: none;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.admin-login .card .m-3 {
  border: none;
}

.admin-login .card a {
  color: #275ca0;
  text-decoration: none;
}

.admin-login .card a:hover {
  text-decoration: underline;
}

.admin-login .card .btn {
  width: calc(100% - 2rem);
}

.admin-login .login-footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  font-size: 14px;
}

.admin-login .login-footer span {
  margin: 0px 5px;
}

/* Admin - Layout */
.admin-layout .sidebar {
  width: 250px;
  color: #f8f9fa;
  z-index: 1000;
}

.sidebar .logo {
  width: 100%;
}

.sidebar .nav-link:hover {
  color: #fff;
  background-color: #275ca0;
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: #275ca0;
}

.admin-layout .admin-main {
  position: relative;
  width: 100%;
  max-height: 100vh;
  padding: 10px;
  z-index: 500;
  overflow-y: scroll;
}

.admin-sidebar-button {
  display: none;
  text-align: end;
}

/* Admin - Blogs */
.blogs-management .card-body{
  overflow: scroll;
}

.aacs-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1050;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.aacs-modal.show {
  display: flex;
}
.aacs-modal .modal-body{
  max-height: 90vh;
  overflow-y: scroll;
}
.aacs-modal .aacs-modal-fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

@media (max-width: 768px) {
  .admin-sidebar {
    position: absolute;
    height: 100vh;
  }

  .admin-sidebar-button {
    display: block;
    /* Show toggle button */
  }
}

@media (max-width: 500px) {
  .admin-login .card {
    width: 80%;
    box-shadow: none
  }
}